// COLORS
$color-red-1: #ff7730;
$color-orange-1: #ffb900;

$color-light-green-1: #7ed56f;
$color-light-green-2: #8dc73f;
$color-green-1: #28b485;

$color-primary-blue: #2998ff;
$color-primary-blue-2: #8cc4f8;
$color-secondary-blue: #5643fa;
$color-tertiary-blue: #0E182A;

$color-BTN-blue-1: #392e9a;
$color-BTN-blue-2: #332896;
$color-BTN-blue-3: #30268d;

$color-blueGray-dark-1: #210c44;

$color-primary-bg: #171717;
$color-secondary-bg: #211f1f;
$color-tertiary-bg: #2f2c2c;

$color-primary-1: #b79770;

$color-gray-1: rgb(238, 246, 205);
$color-gray-2: rgb(235, 245, 192);
$color-gray-3: #dddddd;
$color-gray-4: rgb(214, 218, 201);


$color-white: #fff;
$color-black: #000;

$color-textSelect-1:  #06b40f; 

// FONT-SIZE
$default-font-size: 1.3rem;
$medium-font-size: 2.2rem;

// FONT-FAMILY
$primary-font: 'Tai Heritage Pro';
$handwriting-font-1: 'Dancing Script', normal;
$special-font-1: 'Special Elite';

// SHADOWs
$shadow-black-light: 0 1rem 2rem rgba($color-black, .15);
$shadow-black-medium: 0 1.5rem 4rem rgba($color-black, .25);

$shadow-black-bottom: inset 0 -1rem 1rem -1rem rgba($color-black, 0.5);

// Border Radius
$border-radius-small: 5px;

// #### TESTING ####

$color-primary: rgb(0, 226, 156)!default;
$color-secondary: #26464d!default;

$color-secondary-dark: #011820!default;
// $color-secondary-light: color.scale($color-secondary, $lightness: 20%)!default;

// $slope-incline: math.asin(0.1);

/** 1200px oder schmaler */
$breakpoint-lg: 75em!default;

/** 992px oder schmaler */
$breakpoint-md: 62em!default;

/** 768px oder schmaler */
$breakpoint-sm: 48em!default;

/** 576px oder schmaler */
$breakpoint-xs: 36em!default;

/** 400px oder schmaler */
$breakpoint-xxs: 25em!default;

/** Breakpoints */
@media (max-width: $breakpoint-lg) {}
@media (max-width: $breakpoint-md) {}
@media (max-width: $breakpoint-sm) {}
@media (max-width: $breakpoint-xs) {}
@media (max-width: $breakpoint-xxs) {}