
  
  .filterRow {
  
    display: grid;
    grid-row: 1/2;
    grid-template-columns:  repeat(3, minmax(min-content, 1fr));
    grid-template-rows: 5rem;

    z-index: 1;
    @include respond(phone) { 
        grid-template-columns:  repeat(2, minmax(0, 1fr)); 
    }

        &__recipeLabel {
          grid-column: 1/2;

              &--select {
                font-size: 1.1rem;
              }
      
            }

        &__addRecipeBox {
          grid-column: 2/3;
          
            &--link {
              font-size: 1.8rem;
              font-family: $special-font-1;
              font-weight: 400;
              color: $color-BTN-blue-2;
            }
        }

        &__dateLabel {
          grid-column: 3/4;
  
            // &--select {
            //   font-size: 1.1rem;
            // }
  
        }



  
  }