
  
  .itemCard {
  
    display: grid;
    grid-row: 2/3;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;

    
        &__container {
          display: grid;
          grid-template-columns: max-content;
          grid-template-rows: repeat(3, minmax(min-content, max-content));
          justify-content: center;
          justify-self: center;
          row-gap: 1rem;
          height: 47rem;
          width: 25rem;
          border-radius: 1rem;
          border: 1px solid $color-gray-4;
          background-image: radial-gradient(
            farthest-corner at 40px 40px,
            $color-gray-4 0%,
            $color-gray-3 80%
          );

          &__title {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: end;
            padding-top: 1rem;
            font-family: $handwriting-font-1;
            font-size: 2.3rem;
            width: 18rem;
          }

          &__unpublished {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: center;
            padding-top: 1rem;
            color: red;
          }
      
        
          &__imgBtnBox {
            grid-column: 1/2;
            grid-row: 2/3; 
            justify-self: center; 
            display: grid;
            grid-template-rows: repeat(3, minmax(min-content, max-content));
            text-align: center;

                &--img {
                  grid-row: 1/3;
                  justify-self: center;
                  height: 25rem;
                  width: 16.5rem;
                  z-index: 2;
                  object-fit: cover;
                  &:hover{
                    transform: scale(1.1);
                    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
                  }

                  }
                  button {
                    display: grid;
                    grid-row: 2/3;
                    justify-self: center;
                    width: 10%;
                    opacity: 0.7;
                    align-self: center;
                    text-align: center;
                    position: absolute;
                    z-index: 5;
                    display: none;
                  }
                  &:hover {
                    img {
                      opacity: 0.8;
                    }
                
                    button {
                      opacity: 0.85;
                      display: grid;
                      background-color: $color-white;
                    }
                  }
          }
          
      
      
          &__footer {
            display: grid;
            grid-column: 1/2;
            grid-row: 3/4;
            grid-template-columns: repeat(2, minmax(min-content, max-content));
            grid-template-rows: repeat(4, minmax(min-content, max-content));
            row-gap: .1rem;
            font-size: 1.3rem;
            padding: 1rem;
      
            &__publisherTitle {
              grid-column: 1/2;
              grid-row: 1/2;
            }
            &__publisherContent {
              grid-column: 2/3;
              grid-row: 1/2;
              justify-self: end;
            }
            &__categoryTitle {
              grid-column: 1/2;
              grid-row: 2/3;
            }
            &__categoryContent {
              grid-column: 2/3;
              grid-row: 2/3;
              justify-self: end;
            }
        
            &__dateTitle {
              grid-column: 1/2;
              grid-row: 3/4;
            }
            &__dateContent {
              grid-column: 2/3;
              grid-row: 3/4;
              justify-self: end;
            }

            &__editBtnBox {
              grid-column: 1/3;
              grid-row: 4/5; 
              justify-self: center; 
            }

          }

    }
  
  }