
.form {

    &__login {
        padding-top: 2rem;
    }

    &__input {
        
        font-size: $default-font-size;
        font-family: inherit;
        color: $color-black;
        padding: .5rem 1rem;
        margin-bottom: 1rem;
        border-radius: $border-radius-small;
        background-color: $color-white;
        border: none;
        border-bottom: 3px solid transparent;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: $shadow-black-light;
            border-bottom: 3px solid $color-green-1;
        }

        &:focus:invalid {
            border: 3px solid red;
        }
    
        &::-webkit-input-placeholder {      
            color: $color-gray-1;
        }
    }

}