

.errorPage {

    display: grid;
    grid-template-columns: minmax(4rem, 1fr) repeat(1, minmax(min-content, max-content))  minmax(4rem, 1fr);
    grid-template-rows: minmax(4rem, 1fr) repeat(4, minmax(min-content, max-content))  minmax(4rem, 1fr);
    row-gap: 3rem;
    justify-content: center;
    justify-self: center;

    
    &__img {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: center;
        width: 17rem;
        height: 15rem;
        height: 100%;
        color: $color-white;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__heading {
        grid-column: 2/3;
        grid-row: 3/4;
        font-size: 3.5rem;
        font-weight: 400;
        color: $color-red-1;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    &__text {
        grid-column: 2/3;
        grid-row: 4/5;
        justify-self: center;
        font-size: 3rem;
        font-weight: 400;
        color: $color-white;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__linkBox {
        grid-column: 2/3;
        grid-row: 5/6;
        justify-self: center;
        &__link{
            font-size: 3rem;
            font-weight: 400;
            color: $color-light-green-2;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}
